/******************************
*SECTION MAIN
******************************/
.main {
    grid-template-columns: 4fr 3fr;
    padding: 20px;
    grid-template-areas:
        "focus focus"
        "accomodation mostuses"
        "aside aside";
}

/******************************
*SECTION FOCUSFORM
******************************/

.focusform {
    padding: 0px;
}

.focusform input {
    width: 50%;
}

.focusform label {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.barre {
    width: 100px;
    height: 40px;
}

/******************************
*SECTION ACCOMODATION
******************************/
.accomodation {
    grid-template-rows: 20px repeat(3, 180px) 20px;
}

.accomodation img {
    height: calc(100% - 70px);
}

.accomodation figcaption {
    height: 70px;
}

/******************************
*SECTION MOSTUSED
******************************/

.mostused {
    grid-area: mostuses;
}

.mostused {
    grid-template-columns: 1fr;
    grid-template-rows: 20px repeat(3, 140px);
    grid-template-areas:
        "header"
        "card1"
        "card2"
        "card3";
}

.header {
    grid-area: header;
}
.fame {
    border-radius: 20px;
}

.mostused .fame3 figure {
    height: 100%;
    flex-direction: row;
}

.mostused .fame3 figcaption {
    padding: 10px 15px;
    width: 60%;
    height: 100%;
}

.mostused img {
    border-radius: 20px 0px 0px 20px;
}

.mostused .mstars {
    position: absolute;
    bottom: 10px;
}

/*mostused dernière carte*/

.mostused .fame3 img {
    height: 100%;
    width: 40%;
    border-radius: 20px 0px 0px 20px;
}

.mostused .fame3 .mstars {
    position: absolute;
    bottom: 10px;
}

/******************************
*SECTION ACTIVITY
******************************/

aside {
    background-color: white;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 150px 100px 150px;
    grid-template-areas:
        "h1 h1 h1 h1"
        "card1 card2 card4 card5"
        "card1 card2 card4 card6"
        "card1 card3 card4 card6";
}

/******************************
*SECTION FOOTER
******************************/

footer {
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "h31 h32 h33"
        "nav1 nav2 nav3";
}

.about {
    height: 20px;
}

.acom {
    height: 20px;
}

.assi {
    height: 20px;
}

/******************************
*SECTION TAILLE DE POLICE
******************************/

:root {
    font-size: 14px;
}

nav {
    font-size: 1.1rem;
}

h2,
h3 {
    font-size: 1.1rem;
}

.mostused p {
    font-size: 0.8rem;
    color: black;
}

.accomodation p {
    font-size: 0.8rem;
    color: black;
}

footer nav {
    font-size: 0.8rem;
    color: black;
}

.mostused figure i {
    font-size: 0.8rem;
}

.accomodation i {
    font-size: 0.8rem;
}

.accomodation .cardg {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.activity h2 {
    font-size: 0.85rem;
}
