@font-face {
    font-family: "ralewaythin";
    src: url("raleway-variablefont_wght-webfont.woff2") format("woff2"),
        url("raleway-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 10px;
    font-family: "Ralewaythin", Arial;
}

nav {
    font-size: 1.8rem;
}
h1 {
    font-size: 2.3rem;
    font-weight: bold;
}
h2,
h3 {
    font-size: 1.9rem;
}

footer nav {
    font-size: 1.5rem;
}

.focusform header p {
    font-size: 1.7rem;
}

.focusform {
    font-size: 1.7rem;
}

.focusform p > i {
    font-size: 1.3rem;
}

label,
input,
button {
    font-size: 1.7rem;
    font-weight: bold;
}

.mostused header i {
    font-size: 2.4rem;
}
.mostused figure i {
    font-size: 1rem;
}

.accomodation i {
    font-size: 1rem;
}

.accomodation .cardg {
    font-size: 1.9rem;
    font-weight: bold;
}

/*Taille interligne*/

main h1 {
    line-height: 2.6rem;
}

form > p {
    line-height: 1.5rem;
}

/*Placement des blocs header*/

header > a {
    position: absolute;
    top: 10px;
    left: 20px;
}

header > nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 60px;
    grid-template-areas:
        "register register"
        "accomodations activities";
}

header > nav .acco {
    grid-area: accomodations;
    justify-self: center;
    align-self: center;
    color: black;
}

header > nav .activities {
    grid-area: activities;
    justify-self: center;
    align-self: center;
    color: black;
}

header > nav .register {
    grid-area: register;
    justify-self: right;
    align-self: center;
    padding-right: 20px;
    font-weight: bold;
    color: rgb(46, 109, 247);
}

/* Placement des blocs main*/

.searchbarre {
    display: flex;
}

.main {
    display: grid;
    grid-template-areas:
        "focus"
        "mostuses"
        "accomodation"
        "aside";
}

/*section focusform*/

.focusform {
    grid-area: focus;
    padding: 20px;
}

.focusform header {
    margin-bottom: 20px;
}

.focusform h1 {
    font-weight: bold;
}

.focusform header p {
    margin-top: 10px;
}

.barre {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 10px;
    position: absolute;
    right: 30px;
}

.barre i {
    color: white;
}

.focusform input {
    width: calc(100% - 80px);
    position: relative;
}

.focusform label {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.search {
    display: none;
}

.focusform h2 {
    margin-top: 35px;
    margin-bottom: 15px;
}

.btn-filter {
    margin: 0px 10px 10px 0px;
    border-radius: 20px;
    background: white;
}

.btn-filter i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-right: 1px solid rgb(209, 226, 245);
    border-radius: 100%;
    color: blue;
    background: rgb(209, 226, 245);
}

.btn-filter span {
    padding: 0 20px;
}

.focusform p i {
    border: 1px solid grey;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
    color: blue;
}

.focusform p {
    display: flex;
    margin: 20px 0px 20px 0px;
}

.focusform p span {
    width: calc(100% - 25px);
}

/*section accomodation */

.accomodation {
    grid-area: accomodation;
}

/*section activité*/
.activity {
    grid-area: aside;
}

/*grid section */
.accomodation {
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 240px);
    grid-template-areas: "h2" "figcaption2" "figcaption3" "figcaption4" "figcaption5" "figcaption6" "figcaption7";
}

.cardz {
    grid-area: h2;
}

.carda {
    grid-area: figcaption2;
}
.cardb {
    grid-area: figcaption3;
}
.cardc {
    grid-area: figcaption4;
}

.cardd {
    grid-area: figcaption5;
}

.carde {
    grid-area: figcaption6;
}

.cardf {
    grid-area: figcaption7;
}

.accomodation img {
    height: calc(100% - 100px);
    object-fit: cover;
}

.accomodation figure {
    border: 1px solid black;
    height: 100%;
}

.accomodation figcaption {
    padding: 10px 15px;
}

/*section mostused*/

.mostused figure {
    display: flex;
}

.mostused {
    grid-area: mostuses;
}

.mostused header {
    display: flex;
    justify-content: space-between;
}

.mostused {
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 140px);
    grid-template-areas:
        "header"
        "figcaption"
        "figcaption"
        "figcaption";
}

.header {
    grid-area: header;
}
.fame1 {
    grid-area: figcaption;
    height: 100%;
    border: 1px solid black;
}

.fame2 {
    grid-area: figcaption;
    height: 100%;
    border: 1px solid black;
}
.fame3 {
    grid-area: figcaption;
    height: 100%;
    border: 1px solid black;
}

.mostused figcaption {
    padding: 15px;
    position: relative;
    width: 60%;
}

.mstars {
    position: absolute;
    bottom: 15px;
}

.mostused img {
    width: 40%;
    object-fit: cover;
}

/*activity*/
aside {
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 230px);
    grid-template-areas:
        "h1"
        "figcaption1"
        "figcaption2"
        "figcaption3"
        "figcaption4"
        "figcaption5"
        "figcaption6";
}

.card0 {
    grid-area: h1;
}

.port {
    grid-area: figcaption1;
}

.pomegues {
    grid-area: figcaption2;
}

.isle {
    grid-area: figcaption3;
}

.park {
    grid-area: figcaption4;
}

.garde {
    grid-area: figcaption5;
}

.longchamp {
    grid-area: figcaption6;
}

.activity img {
    height: calc(100% - 70px);
    object-fit: cover;
}

.activity figure {
    height: 100%;
    border: 1px solid black;
}

.activity figcaption {
    padding: 20px;
}

/* footer */

footer {
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 65px auto 40px auto 40px;
    grid-template-areas:
        "h31"
        "nav1"
        "h32"
        "nav2"
        "h33"
        "nav3";
}

.fabout {
    grid-area: h31;
}

.about {
    grid-area: nav1;
}

.facom {
    grid-area: h32;
}

.acom {
    grid-area: nav2;
}

.fassi {
    grid-area: h33;
}

.assi {
    grid-area: nav3;
}

footer h3 {
}

/*
@media screen and (min-width: 993px) {
}

@media screen and (min-width: 1199px) {
}
*/ ;
