@font-face {
    font-family: "ralewaythin";
    src: url("raleway-variablefont_wght-webfont.woff2") format("woff2"),
        url("raleway-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 10px;
    font-family: "Ralewaythin", Arial;
}

nav {
    font-size: 1.5rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

h2,
h3 {
    font-size: 1.6rem;
    color: black;
}
.mostused p {
    font-size: 1.3rem;
    color: black;
}

.accomodation p {
    font-size: 1.3rem;
    color: black;
}

footer nav {
    font-size: 1.3rem;
    color: black;
}

.focusform header p {
    font-size: 1.4rem;
}

.focusform {
    font-size: 1.4rem;
}

.focusform p > i {
    font-size: 1.1rem;
}

.mostused header i {
    font-size: 1.9rem;
}
.mostused figure i {
    font-size: 1.1rem;
}

.accomodation i {
    font-size: 1.1rem;
}

.accomodation .cardg {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}

/******************************
*TAILLE INTERLIGNE
******************************/
.mostused h2 {
    line-height: 2rem;
}

.focusform h1 {
    line-height: 2.6rem;
}

form > p {
    line-height: 1.5rem;
}

.mostused h1 {
    line-height: 1.5rem;
}

/******************************
*PLACEMENT DES BLOCS HEADER
******************************/

header > a {
    position: absolute;
    top: 10px;
    left: 20px;
}

header > nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px;
    grid-template-areas:
        "register register"
        "accomodations activities";
}

header > nav .acco {
    grid-area: accomodations;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    display: block;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

header > nav .activities {
    grid-area: activities;
    color: black;
    border-bottom: 3px solid #f2f2f2;
    display: block;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

header > nav .register {
    grid-area: register;
    justify-self: right;
    align-self: center;
    padding-right: 20px;
    font-weight: bold;
    color: #0065fc;
}

/******************************
*PLACEMENT DES BLOCS MAIN
******************************/

.searchbarre {
    display: flex;
    margin-bottom: 35px;
}

.main {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "focus"
        "mostuses"
        "accomodation"
        "aside";
}

/******************************
*SECTION FOCUSFORM
******************************/

.focusform {
    grid-area: focus;
    padding: 20px;
}

.focusform header {
    margin-bottom: 20px;
}

.focusform h1 {
    font-weight: bold;
}

.focusform header p {
    margin-top: 10px;
}

.barre {
    width: 40px;
    height: 40px;
    background-color: #0065fc;
    border-radius: 10px;
    border: #0065fc;
    margin-left: -10px;
}

.barre i {
    color: white;
}

.focusform input {
    width: calc(100% - 70px);
    border: 2px solid #f2f2f2;
    padding: 0 10px;
}

.focusform label {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

.search {
    display: none;
}

.focusform h2 {
    margin-top: 35px;
    margin-bottom: 15px;
}

.btn-filter {
    margin: 0px 10px 10px 0px;
    border: 2px solid silver;
    background: white;
    height: 40px;
    border-radius: 20px;
    font-weight: 800;
}

.btn-filter i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #0065fc;
    background: #deebff;
    margin: -2px;
}

.btn-filter span {
    padding: 0 10px;
}

.focusform p i {
    border: 1px solid silver;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #0065fc;
}

.focusform p {
    display: flex;
    margin: 20px 0px 20px 0px;
}

.focusform p span {
    width: calc(100% - 30px);
    padding-left: 10px;
    position: relative;
    top: 8px;
}

/******************************
*SECTION ACCOMODATION
******************************/

.accomodation {
    grid-area: accomodation;
}

.accomodation {
    background-color: white;
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 220px);
    grid-template-areas: "h2" "card2" "card3" "card4" "card5" "card6" "card7";
}

.cardz {
    grid-area: h2;
}

.carda {
    grid-area: card2;
}
.cardb {
    grid-area: card3;
}
.cardc {
    grid-area: card4;
}

.cardd {
    grid-area: card5;
}

.carde {
    grid-area: card6;
}

.cardf {
    grid-area: card7;
}

.accomodation img {
    height: calc(100% - 80px);
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.accomodation figure {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    box-shadow: 0px 5px 5px silver;
    padding: 3px 3px 0px 3px;
}

.accomodation figcaption {
    padding: 0 15px;
    position: relative;
    height: 80px;
    line-height: 27px;
}

/******************************
*SECTION MOSTUSED
******************************/

.mostused figure {
    display: flex;
    background-color: white;
    box-shadow: 0px 5px 5px silver;
    border-radius: 20px;
    height: 100%;
    padding: 3px;
}

.mostused {
    grid-area: mostuses;
}

.mostused header {
    display: flex;
    justify-content: space-between;
}

.mostused {
    background-color: #f2f2f2;
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 140px);
    grid-template-areas:
        "header"
        "card1"
        "card2"
        "card3";
}

.header {
    grid-area: header;
}

.fame {
    height: 100%;
    border: 1px solid white;
    border-radius: 20px;
}

.fame1 {
    grid-area: card1;
}

.fame2 {
    grid-area: card2;
}
.fame3 {
    grid-area: card3;
}

.mostused figcaption {
    padding: 15px;
    position: relative;
    width: 60%;
}

.mstars {
    position: absolute;
    bottom: 15px;
}

.mostused img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

/******************************
*SECTION ACTIVITY
******************************/

.activity {
    grid-area: aside;
}

aside {
    background-color: white;
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 20px repeat(6, 230px);
    grid-template-areas:
        "h1"
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
}

.card0 {
    grid-area: h1;
}

.port {
    grid-area: card1;
}

.pomegues {
    grid-area: card2;
}

.isle {
    grid-area: card3;
}

.park {
    grid-area: card4;
}

.garde {
    grid-area: card5;
}

.longchamp {
    grid-area: card6;
}

.activity img {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activity figure {
    border-radius: 20px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px silver;
}

.activity figcaption {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}

/******************************
*SECTION FOOTER
******************************/

footer {
    background-color: #f2f2f2;
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 65px auto 40px auto 40px;
    grid-template-areas:
        "h31"
        "nav1"
        "h32"
        "nav2"
        "h33"
        "nav3";
}

.fabout {
    grid-area: h31;
}

.about {
    grid-area: nav1;
}

.facom {
    grid-area: h32;
}

.acom {
    grid-area: nav2;
}

.fassi {
    grid-area: h33;
}

.assi {
    grid-area: nav3;
}

footer li a {
    color: black;
}

/******************************
*SECTION :HOVER
******************************/

.btn-filter:hover {
    background-color: #deebff;
}
