:root {
    font-size: 13px;
}
/******************************
*SECTION NAV
******************************/

header > nav {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    grid-template-areas: ". accomodations activities register";
}

header > nav .acco {
    border-top: 3px solid #0065fc;
    border-bottom: none;
}

header > nav .activities {
    padding-top: 3px;
    border-bottom: none;
}

header > nav .register {
    justify-self: center;
    padding: 7px 0 0 0;
}

/******************************
*SECTION MAIN
******************************/
.main {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 0.1fr 0.1fr 0.9fr;
    grid-template-areas:
        "focus focus"
        "mostuses mostuses"
        "accomodation accomodation"
        "aside aside";
}
.activity {
    grid-area: aside;
}
.mostused {
    grid-area: mostuses;
}
.accomodation {
    grid-area: accomodation;
}
.focusform {
    grid-area: focus;
    padding: 20px;
}

/******************************
*SECTION FOCUSFORM
******************************/

.focusform header p {
    margin-top: 0px;
}

.focusform input {
    max-width: 150px;
}

.barre i {
    display: none;
}

.focusform label {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.barre {
    width: 80px;
    height: 45px;
    border-radius: 0px 10px 10px 0px;
}
.search {
    display: block;
    color: white;
}

.focusform p i {
    height: 20px;
    width: 20px;
    line-height: 20px;
}

.focusform p {
    margin: 20px 0px 10px 0px;
}

h2 {
    display: inline;
}

/******************************
*SECTION ACCOMODATION
******************************/
.accomodation {
    background-color: #f2f2f2;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 170px) 20px;
    grid-template-areas:
        "h2 h2"
        "figcaption2 figcaption3"
        "figcaption4 figcaption5"
        "figcaption6 figcaption7"
        "figcaption8 figcaption8";
}

.accomodation figure {
    border-radius: 10px;
    height: 100%;
}

.accomodation img {
    height: calc(100% - 68px);
    object-fit: cover;
    padding: 3px 3px 0px 3px;
    border-radius: 10px 10px 0px 0px;
}

.accomodation figcaption {
    padding: 9px;
    position: relative;
    height: 100px;
    line-height: 1.3rem;
}

.accomodation .stars {
    position: absolute;
    bottom: 38px;
}

/******************************
*SECTION MOSTUSED
******************************/

.mostused {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 140px);
    grid-template-areas:
        "header header"
        "figcaption1 figcaption3"
        "figcaption2 figcaption3";
}

header {
    grid-area: header;
}
.fame1 {
    border-radius: 10px;
}
.fame2 {
    border-radius: 10px;
}
.fame3 {
    border-radius: 10px;
}

.mostused figure {
    border-radius: 10px;
    height: ;
}

.mostused img {
    padding: 3px 0px 3px 3px;
    border-radius: 10px 0px 0px 10px;
}

.mostused figcaption {
    padding: 15px 10px 10px 15px;
    position: relative;
    width: 60%;
}
.mostused h2 {
    line-height: 0.1rem;
}
.mostused h2 {
    font-size: 1rem;
}

.mostused .mstars {
    position: absolute;
    bottom: 10px;
}
/*petite modification en rapport à l'ancienne carte fame3 */
.mostused .fame3 figure {
    height: 300px;
    display: block;
}

.mostused .fame3 img {
    height: 140px;
    width: 100%;
    padding-right: 3px;
    border-radius: 10px 10px 0px 0px;
}

.mostused .fame3 p {
    line-height: 2rem;
}

.mostused .fame3 figcaption {
    width: 100%;
}

.mostused .fame3 .mstars {
    bottom: 0px;
    top: 130px;
}

/******************************
*SECTION ACTIVITY
******************************/

aside {
    background-color: #fcfcfcf8;
    padding: 40px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 250px 140px 140px 255px;
    grid-template-areas:
        "h1 h1"
        "figcaption1 figcaption2"
        "figcaption1 figcaption3"
        "figcaption4 figcaption5"
        "figcaption4 figcaption6";
}

.card0 {
    margin-bottom: 20px;
}

.port {
    padding: 0px 10px 0px 0px;
}

.pomegues {
    padding: 0px 10px 10px 10px;
}

.isle {
    padding: 10px 10px 0px 10px;
}

.park {
    padding: 0px 10px 0px 0px;
}

.garde {
    padding: 0px 0px 10px 10px;
}

.longchamp {
    padding: 10px 0px 0px 10px;
}

.isle img {
    height: 90px;
}

.isle figcaption {
    height: 40px;
}

.pomegues img {
    height: 200px;
}
.pomegues figcaption {
    height: 40px;
}

.port img {
    height: 370px;
}

.port figcaption {
    height: 40px;
}

.park img {
    height: 360px;
}
.garde img {
    height: 90px;
}

.garde figcaption {
    height: 40px;
}

.longchamp img {
    height: 200px;
}

.longchamp figcaption {
    height: 50px;
}

.activity figcaption {
    padding: 10px;
}

/******************************
*SECTION FOOTER
******************************/

footer {
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "h31 h32 h33"
        "nav1 nav2 nav3";
}

.about {
    height: 20px;
}

.acom {
    height: 20px;
}

.assi {
    height: 20px;
}

/******************************
*SECTION TAILLE DE POLICE
******************************/

nav {
    font-size: 1rem;
}
h1 {
    font-size: 1.3rem;
    font-weight: bold;
}
h2,
h3 {
    font-size: 1.1rem;
    color: black;
}
.mostused p {
    font-size: 0.85rem;
    color: black;
}

.accomodation p {
    font-size: 0.85rem;
    color: black;
}

footer nav {
    font-size: 0.8rem;
    color: black;
}

.focusform header p {
    font-size: 0.9rem;
}

.focusform {
    font-size: 0.9rem;
}

.focusform p > i {
    font-size: 0.6rem;
}

label,
input,
button {
    font-size: 0.9rem;
    font-weight: bold;
}

.mostused header i {
    font-size: 1.4rem;
}
.mostused figure i {
    font-size: 0.8rem;
}

.accomodation i {
    font-size: 0.8rem;
}

.accomodation .cardg {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
