:root {
    font-size: 13px;
}
/******************************
*SECTION NAV
******************************/

header > nav {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    grid-template-areas: ". accomodations activities register";
}

header > nav .acco {
    border-top: 3px solid #0065fc;
    border-bottom: none;
}

header > nav .activities {
    padding-top: 3px;
    border-bottom: none;
}

header > nav .register {
    justify-self: center;
    padding: 7px 0 0 0;
}

/******************************
*SECTION FOCUSFORM
******************************/

.focusform header p {
    margin-top: 0px;
}

.focusform input {
    max-width: 150px;
}

.barre i {
    display: none;
}

.focusform label {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.barre {
    width: 80px;
    height: 45px;
    border-radius: 0px 10px 10px 0px;
}
.search {
    display: block;
    color: white;
}

.focusform p i {
    height: 20px;
    width: 20px;
    line-height: 18px;
}

.focusform p {
    margin: 20px 0px 10px 0px;
}
.focusform p span {
    position: unset;
}

h2 {
    display: inline;
}

/******************************
*SECTION ACCOMODATION
******************************/
.accomodation {
    background-color: #f2f2f2;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 220px) 20px;
    grid-template-areas:
        "h2 h2"
        "card2 card3"
        "card4 card5"
        "card6 card7"
        "card8 card8";
}

.accomodation figcaption {
    padding: 10px;
    line-height: 1.3rem;
}

.accomodation .stars {
    position: absolute;
    bottom: 5px;
}

/******************************
*SECTION MOSTUSED
******************************/

.mostused {
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 140px);
    grid-template-areas:
        "header header"
        "card1 card3"
        "card2 card3";
}

header {
    grid-area: header;
}

.mostused figcaption {
    padding: 10px;
}

.mostused h2 {
    font-size: 1rem;
    line-height: 0.1rem;
}

.mostused .mstars {
    bottom: 5px;
}
/*petite modification en rapport à l'ancienne carte fame3 */
.mostused .fame3 figure {
    flex-direction: column;
}

.mostused .fame3 img {
    height: calc(100% - 100px);
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.mostused .fame3 p {
    line-height: 2rem;
}

.mostused .fame3 figcaption {
    width: 100%;
    height: 100px;
}

/******************************
*SECTION ACTIVITY
******************************/

aside {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 250px 140px 140px 255px;
    grid-template-areas:
        "h1 h1"
        "card1 card2"
        "card1 card3"
        "card4 card5"
        "card4 card6";
}

.card0 {
    margin-bottom: 20px;
}

/******************************
*SECTION FOOTER
******************************/

footer {
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "h31 h32 h33"
        "nav1 nav2 nav3";
}

.about {
    height: 20px;
}

.acom {
    height: 20px;
}

.assi {
    height: 20px;
}

/******************************
*SECTION TAILLE DE POLICE
******************************/

nav {
    font-size: 1.1rem;
}
h1 {
    font-size: 1.4rem;
}
h2,
h3 {
    font-size: 1rem;
    color: black;
}
.mostused p {
    font-size: 0.8rem;
    color: black;
}
.mostused h2 {
    font-size: 1.1rem;
}
.accomodation h2 {
    font-size: 1.1rem;
}
.accomodation p {
    font-size: 0.95rem;
    color: black;
}

footer nav {
    font-size: 0.9rem;
    color: black;
}

.focusform header p {
    font-size: 1rem;
}

.focusform {
    font-size: 1rem;
}

.focusform p > i {
    font-size: 0.7rem;
}

label,
input,
button {
    font-weight: bold;
}

.mostused header i {
    font-size: 1.5rem;
}
.mostused figure i {
    font-size: 0.8rem;
}

.accomodation i {
    font-size: 0.8rem;
}

.accomodation .cardg {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
