header .nav {
    display: flex;
}
.d {
    display: grid;
    grid-template-areas:
        "economique child"
        "heart animal";
}
.economique {
    grid-area: 1/1 / span 1 / span 1;
}
.child {
    grid-area: 1/2 / span 1 / span 1;
}
.heart {
    grid-area: 2/1 / span 1 / span1;
}
.animal {
    grid-area: 2/2 / span 1 / span 1;
}
.child {
    position: static;
}
